.App {
  /* Styles par défaut */
}

.App.cold {
  /* Styles pour températures froides */
  background-color: #add8e6;
  color: #003366;
}

.App.hot {
  /* Styles pour températures chaudes */
  background-color: #ffa07a;
  color: #800000;
}

.App.moderate {
  /* Styles pour températures modérées */
  background-color: #98fb98;
  color: #006400;
}

form{
  margin-bottom: 1%;
}

.bar{
  text-align: center;
  background-color: rgb(81, 80, 80);
  color: white;
}